.DS_Store
*.o
*.d
*.dSYM
*.a
*.swp
*~
*#
/.deps
/GNUmakefile
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.mk
/config.status
/configure
/stamp-h
/single
/array1
/concurrent
/genericTest
/list1
/pqueue
/predicates
/rbtree
/singleelems
/tags
/cscope.out
/trans_test
/vector
/hashtable_nostm
/ht_mt
/iterators
/pqVsIt
/ex-counter
/unit-rcu
/unit-tarray
/unit-tbox
/unit-tgeneric
/unit-tintpredicate
/unit-tcounter
/unit-tvector
/unit-tvector-nopred
/unit-mbta
/unit-masstree
/unit-opacity
/unit-sampling
/unit-tflexarray
/unit-tmv*
/tpcc_bench
/ycsb_bench
/micro_bench
/wiki_bench
/voter_bench
/rubis_bench
/gc_bench
/unit-dboindex
/unit-swisstarray
/unit-swisstgeneric
/perf.data
/perf.data.old
/perf.txt
.ycm_*
**/.idea/workspace.xml
**/.idea/tasks.xml
**/cmake-build-*
