[submodule "masstree-beta"]
	path = masstree-beta
	url = https://github.com/readablesystems/masstree-beta.git
[submodule "third-party/xxHash"]
	path = third-party/xxHash
	url = https://github.com/readablesystems/xxHash.git
[submodule "third-party/rpmalloc"]
	path = third-party/rpmalloc
	url = https://github.com/readablesystems/rpmalloc.git
