.DS_Store
*.o
*.d
*.a
*.swp
*~
*#
/.deps
/GNUmakefile
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h
/single
/array1
/concurrent
/genericTest
/list1
/pqueue
/rbtree
/singleelems
/tags
/trans_test
/vector
/hashtable_nostm
/ht_mt
